node_modules
package-lock.json
TypeScript/task_4/dist/Teacher.js.map
TypeScript/task_4/dist/Subject.js.map
TypeScript/task_4/dist/React.js.map
TypeScript/task_4/dist/Java.js.map
TypeScript/task_4/dist/Cpp.js.map
TypeScript/task_4/dist/Cpp.js
TypeScript/task_4/dist/Teacher.js
TypeScript/task_4/dist/Subject.js
TypeScript/task_4/dist/Java.js
TypeScript/task_4/dist/React.js
